<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/1e854272-45ed-4817-bad4-3fbe7ddfc8a0/resourceGroups/subtext-finder-api20220609170115ResourceGroup/providers/Microsoft.Web/sites/subtext-finder-apidev001</ResourceId>
    <ResourceGroup>subtext-finder-api20220609170115ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/1e854272-45ed-4817-bad4-3fbe7ddfc8a0/resourceGroups/subtext-finder-api20220609170115ResourceGroup/providers/Microsoft.ApiManagement/service/subtext-finder-api-resource/apis/subtext-finder-api</ApiResourceId>
    <OpenApiDocumentName>SubtextFinderAPIv1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://subtext-finder-apidev001.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>a8e2c689-7d1f-45c6-8c88-c4d282a27f76</ProjectGuid>
    <MSDeployServiceURL>subtext-finder-apidev001.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>subtext-finder-apidev001</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$subtext-finder-apidev001</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>